{% extends 'OASIS/analyst_template.html' %}

{% block content %}
{% load static %}
{% load templatehelpers %}
                        <h1 class="mt-4">{{ Endpoint.bw_process_ident }}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'analyst-audit-list-view' %}">Audit Log</a></li>
                            <li class="breadcrumb-item active">Audit Entry Detail</li>
                        </ol>
                        <h3>Change Password</h3>
                        <div class="card border-0">
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button type="submit">Save changes</button>
                                </form>
                            </div>
                        </div>

                        
{% endblock content %}
