extends layout

block content
  h1 STOP!
  h2 The OASIS MFT request form has been retired.
  h2    
  h3 Please use the Technical Service Catalog to request/update Managed File Transfers.
  h3   
  h4 Sign on to Service-Now.
  h4 Navigate to the Technical Service Catalog.
  h4 Under Integration, choose Request Managed File Transfer.
  h4 To expedite your request, please fill out fields in the request paying attention to what the required information is per field.
  h4 Please provide full paths for source and destination of the file(s).
  h4 Be sure to provide file names and/or file name patterns, if file names will change.
  h4 Ensure that vendors provide hostname, port, userid and password to the MFT Administrator.
  